// WARNING: some customization may not apply to the default OJS installation, see Readme
@import 'journalTest'; 	// edit this line to import your customizations


// fontawesome imported only if necessary
@if $clear-style == true or $font-awesome == true {
		@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
	} @else { }

/*!
*
* AlmaDL Responsive Layout for Journals, OJS 2.4.X
* #{$journal-title}
* License: Creative Commons BY 4.0
* Author: Piero Grandesso, for AlmaDL Journals - University of Bologna
* https://github.com/piero-g/almadl-journals-layout
* Based on version 0.9.10 | Subversion n.: #{$subversion}
*
*/

// breakpoints!
$break-small:   26.75em; // 428px - below this resolution the sidebar does not display
$break-medium:  48.00em; // 768px - below this: reduced lateral spacing
$break-touch:   64.00em; // 1024px - below this: link spacing for touchpad
$break-column:  85.00em; // 1360px (was 80.00em) - plenty of space: text in double column/boxed announcementsHome

// default values for backward compatibility
$clear-color:	#E2E2E2 !default;
$announcements-box-top: false !default;
$header-max-width: 700px !default;
$header-padding: 0 !default;
$table-head: null !default;
$input-focus: $a-color !default;
$transitions: all 200ms ease-in-out 0s !default;

html, body {
	height: 100%;
}
body {
	@if $clear-style == true {
		/* clear-style: focus on container in higher resolutions */
		background-color: darken($clear-color, 20%);
	} @else {
		background-color: $body-color;
	}
	color: $font-color;
	font-family: $font-body;
	line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $font-titles;
}


/* ------ *
 * HEADER *
 * ------ */
#headerTitle {
	@if $header-color == $a-color {
		/* header use main theme color */
	} @else if $header-color == $body-color {
		/* header use background body color */
	} @else {
		/* header use a custom color */
	}
	background-color: $header-color;
	@if $header-textual == true {
		/* textual header */
		padding: 20px 0;
	} @else {
		padding: 10px 0;
	}
}
@if $header-textual == true {
	@media (min-width: $break-small) {
		#headerTitle {
			/* textual header */
			padding: 1.7em 0;
		}
	}
} @else {
	@media (min-width: $break-medium) {
		#headerTitle {
			padding: $header-padding 0;
		}
	}
}
/* textual header */
#header h1 {
	@if $header-font-color != null {
		/* specific color */
		color: $header-font-color;
	} @else if $header-color == $body-color {
		/* main theme color */
		color: $a-color;
	} @else {
		color: $body-color;
	}
	padding: 0 2%;
	@if $header-centered == true {
		/* centered header */
		text-align: center;
	} @else { }
}
@media (min-width: $break-medium) {
	#header h1 {
		padding: 0 10%;
	}
}
/* header img - custom media queries depending on img size (tablet & co) */
#header h1 img {
	height: auto;
	width: 100%;
}
@if $header-banner == true {
	@media (min-width: $break-medium) {
		#header h1 img {
			/* extended banner */
			max-width: 100%;
			width: auto;
		}
	}
} @else {
	@media (orientation:landscape) {
		#header h1 img {
			/* based on img size, usually a good value */
			width: 50%;
		}
	}
	@media (min-width: $break-small) {
		#header h1 img {
			/* only for non-banner img */
			max-width: 428px;
		}
	}
	@media (min-width: $break-medium) {
		#header h1 img {
			/* based on img size */
			max-width: $header-max-width;
			/* based on img size, usually a good value */
			width: 50%;
		}
	}
}


/* -------- *
 * HEADINGS *
 * -------- */
h1, h2, #articleTitle h3 {
	font-weight: 700 !important;
}
#content {
	& h2 {
		font-size: 1.8em;
	}
	& h3 {
		font-size: 1.5em;
	}
	& h4 {
		font-size: 1.3em;
		padding-top: 0.75em;
	}
	& h5 {
		font-size: 1.15em;
	}
}
/* margin for masthead profiles in separate pages */
#displayMembership h4 {
	margin-bottom: 1.8em;
}


/* ---------- *
 * CONTAINERS *
 * ---------- */
#container {
	background-color: $body-color;
	margin: 0 auto;
	max-width: 125.00em !important;
	min-width: 300px !important;
	min-height: 100%;
	overflow: hidden;
}
// focus on container
@if $clear-style == true {
	/* clear-style */
	@media (min-width: 125.00em) {
		#container {
			border-radius: $button-border-rad * 3;
			margin: 1% auto;
			min-height: 93%;
			padding-bottom: 1%;
		}
		#headerTitle {
			padding-top: 1%;
		}
	}
} @else { }
#content {
	border-top: 1px dotted #000;
	font-size: $font-content-size;
}
/* body responsive */
#main {
	margin-left: 2%;
	margin-right: 2%;
	width: 96%;
}
#rightSidebar {
	display: none;
}
@media (min-width: $break-small) {
	#main {
		margin-right: 0;
		width: 74%;
	}
	#rightSidebar {
		display: block;
		margin-left: 0.5%;
		margin-right: 2%;
		padding-left: 0.5%;
		width: 20%;
	}
}
@media (min-width: $break-medium) {
	#main {
		margin-left: 10%;
		width: 63%;
	}
	#rightSidebar {
		margin-left: 1%;
		margin-right: 10%;
		padding-left: 1%;
		width: 14%;
	}
}


/* ------ *
 * NAVBAR *
 * ------ */
#navbar {
	border-bottom: 1px dotted #000;
}
ul.menu {
	font-size: 1.2em;
	text-align: center;
	& li {
		padding: 0;
	}
	& a {
		border-bottom: 2px solid $body-color;
		line-height: 2.5em;
		padding: 0.5em 0.75em;
	}
	@if $clear-style == true {
		& a:hover, & a:active {
			border-bottom: 2px solid $a-color;
		}
	}
}
@media (min-width: $break-touch) {
	ul.menu {
		text-align: left;
		& a {
			line-height: 1em;
			padding: 0.5em 0;
		}
		& li {
			padding: 0 1.5em 0 0;
		}
	}
}


/* ----- *
 * LINKS *
 * ----- */
a, a:link, a:visited {
	color: $a-color;
	text-decoration: none;
}
a:active, a:hover {
	background: none;
	@if $a-hoover-color != null {
		/* specific color */
		color: $a-hoover-color;
	} @else {
		color: $a-color;
	}
	text-decoration: underline;
}
/* navbar and breadcrumb coherence (navbar included only if clear-style == false) */
a:active, a:hover {
	#breadcrumb & {
		text-decoration: underline;
	}
	@if $clear-style != true {
		ul.menu & {
			text-decoration: underline;
		}
	} @else { }
}
/* links in paragraphs */
p a {
	display: inline-block;
	margin: 0.5em 0;
}
@media (min-width: $break-touch) {
	p a {
		display: inline;
		margin: 0;
	}
}


/* ----- *
 * LISTS *
 * ----- */
ul {
	padding: 0 0 0 1.1em;
}
li {
	margin: 0.5em 0;
}
@media (min-width: $break-touch) {
	ul {
		padding: 0 0 0 2.5em;
	}
	li {
		margin: 0;
	}
}


/* --------- *
 * ISSUE TOC *
 * --------- */
table.tocArticle {
	margin-bottom: 9px;
}
.tocArticleTitleAuthors {
	width: 70%;
}
.tocArticleGalleysPages {
	width: 30%;
}
@media (min-width: $break-medium) {
	.tocArticleTitleAuthors {
		width: 80%;
	}
	.tocArticleGalleysPages {
		width: 20%;
	}
}
.tocAuthors {
	font-style: italic;
}
/* multiple galleys */
.tocGalleys a {
	clear: right;
	float: right;
	margin-bottom: 9px;
}
.tocPages {
	clear: both;
}
@media (min-width: $break-touch) {
	.tocGalleys a {
		margin-bottom: 0;
	}
}


/* ------- *
* REMOVALS *
* -------- */
@if $only-publication == true {
	/* hide OJS internal workflow schema */
	#pkp-about-aboutThisPublishingSystem #content > p:nth-child(2) {
		display: none;
	}
	/* if online submission disabled */
	#onlineSubmissions, #aboutSubmissions li:first-child, li#linkDisableUserReg {
		display: none;
	}
} @else { }

@if $no-current-home == false and $clear-style == true {
	/* current TOC in home: hide "current" from NavBar (only if it's Above the folder, sort of)  */
	@media (min-width: $break-touch) {
		ul.menu li#current {
			display: none;
		}
	}
} @else { }

@if $no-publication == true {
	/* the journal has not published (yet), so remove every "search" and "archive" related elements */
	ul.menu li#search, ul.menu li#archives, ul.menu li#current, #sidebarNavigation {
		display: none;
	}
} @else { }


/* ------- *
 * SIDEBAR *
 * ------- */
#sidebar input.button {
	margin-top: 9px;
}
@media (min-width: $break-touch) {
	#sidebar input.button {
		margin-top: 0;
	}
}
#sidebar div.block {
	font-size: 1.1em;
	padding-left: 5px;
}

/* sidebar link spacing */
#sidebar a {
	display: inline-block;
	margin: 0.5em 0;
}
.articleToolItem {
	margin-bottom: 16px;
}
#sidebarAnnouncementFeed a, #sidebarWebFeed a {
	margin-bottom: 5px;
}
@media (min-width: $break-touch) {
	#sidebar a {
		display: inline;
		margin: 0;
	}
	.articleToolItem {
		margin-bottom: 3px;
	}
	#sidebarAnnouncementFeed a, #sidebarArticleFeed a {
		margin-bottom: 0;
	}
}

/* articleTools + authorBios; WARNING: Sharing is an extra plugin */
#sidebarRTArticleTools, #sidebarRTAuthorBios, #sidebarRTSharing {
	/* highlight these elements */
	border-left: 2px solid $a-color;
}
#sidebar .articleToolItem a {
	display: inline;
}
.articleToolIcon {
	float: right;
	padding-left: 2px;
	padding-right: 0;
}
@media (min-width: $break-medium) {
	.articleToolIcon {
		float: none;
		padding-left: 0;
		padding-right: 5px;
	}
}

/* mendeley icon (exception to default values) */
// WARNING: this is not part of the standard OJS installations
#sidebar .articleToolItem a.mendeleyIcon {
	display: block;
	float: left;
	padding: 0 0 1em;
	width: 100%;
}
@media (min-width: $break-medium) {
	#sidebar .articleToolItem a.mendeleyIcon {
		float: none;
		padding: 1em 0.3em 0;
		width: 0;
	}
}
@media (min-width: 83.50em) {
	#sidebar .articleToolItem a.mendeleyIcon {
			display: inline;
			padding: 5px 9px;
	}
}

/* centered keyword cloud */
#sidebarKeywordCloud {
	display: none;
	text-align: center;
	& span.blockTitle {
		text-align: left;
	}
}
@media (min-width: $break-medium) {
	#sidebarKeywordCloud {
		display: block;
		& a {
			display: inline;
		}
	}
}

/* font sizer */
#sidebarFontSize, #sidebarFontSize + br {
	display: none;
}
#sizer a {
	margin-left: 8px;
	margin-right: 4px;
}
@media (min-width: $break-touch) {
	#sidebarFontSize {
		display: block;
	}
	#sidebarFontSize + br {
		display: inline;
	}
}

/* login user */
#sidebarUser tr td:nth-child(2) {
	width: 70%;
}

/* custom images */
div.block.custom img {
	max-width: 100%;
}

// clear-style: fontawesome icons
@if $clear-style == true {
	/* icons for clear-style */
	.blockTitle:before {
		#sidebarLanguageToggle &, #sidebarNavigation &, #sidebarWebFeed &, #sidebarAnnouncementFeed &, #sidebarUser &, #sidebarRTAuthorBios & {
			display: inline-block;
			font-family: FontAwesome;
			font-size: 1.2em;
			padding-right: 5px;
		}
	}
	.blockTitle:before {
		#sidebarLanguageToggle & {
			/* world-icon */
			content: "\f0ac";
		}
		#sidebarNavigation & {
			/* lens-icon */
			content: "\f002";
		}
		#sidebarWebFeed &, #sidebarAnnouncementFeed & {
			/* feed-icon */
			content: "\f09e";
		}
		#sidebarUser & {
			/* user-icon */
			content: "\f007";
		}
		#sidebarRTAuthorBios & {
			/* id-card-icon */
			content: "\f2c3";
		}
	}
}


/* ------ *
 * FOOTER *
 * ------ */
#footer {
	background: none;
	border-top: 1px dotted #000;
	font-size: 0.7em;
	margin-top: 20px;
	padding-top: 3px;
	text-align: left;
	& .privacy {
		float: right;
	}
}
@media (min-width: $break-touch) {
	#footer .privacy {
		float: none;
		padding-left: 2em;
	}
}

/* footer logos */
.footerLogo {
	float: right;
	padding-left: 2px;
	& img {
		height: auto;
		width: 50px;
	}
}


/* ----------------- *
 * FORMS AND BUTTONS *
 * ----------------- */
input.textField, select.selectMenu, textarea.textArea, input.uploadField {
	margin-right: 2px;
}
input.button {
	margin: 1px;
}
// clear-style for buttons and forms (and separators too)
@if $clear-style == true {
	/* clear-style */
	input.button, input.textField, input.uploadField, select.selectMenu, textarea.textArea {
		border: 0 none;
		border-radius: $button-border-rad;
		padding: 0.3em 0.5em;
	}
	input.textField, input.uploadField, select.selectMenu, textarea.textArea {
		background-color: $clear-color;
	}
	input.button, input.button.defaultButton:hover, input.button.defaultButton:active {
		background-color: darken($clear-color, 20%);
		color: #000000;
	}
	select.selectMenu {
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
	}
	#navbar, div.separator {
		border-bottom: 1px solid #888888;
	}
	#content, #footer, table.announcements td.headseparator, table.announcements td.endseparator {
		border-top: 1px solid #888888;
	}
	/* UX feedback with input forms */
	input.textField, input.uploadField, select.selectMenu, textarea.textArea {
		&:hover {
			box-shadow: inset 1px 1px 3px darken($clear-color, 20%);
			transition: $transitions;
		}
		&:focus {
			box-shadow: inset 1px 1px 3px $input-focus;
			transition: $transitions;
		}
	}
	/* nicer transition for buttons too */
	input.button:hover, a:hover {
		transition: $transitions;
	}
} @else {}

input.defaultButton, input.button:hover, input.button:active {
	@if $button-color != null {
		/* specific color */
		background-color: $button-color;
	} @else {
		background-color: $a-color;
	}
	color: #fff;
}
input.button, select.selectMenu {
	cursor: pointer;
}

/* inverse media query to avoid use of "unset" or "initial" properties */
@media (max-width: ($break-touch - 0.01em)) {
	input.textField, textarea.textArea {
		width: 93%;
	}
	#sidebar input.textField, #sidebar select.selectMenu, #sidebar input.button {
		width: 98%;
	}
	p span.mceditor table.mceLayout {
		width: 100% !important;
	}
	/* user registration page */
	#registerForm {
		display: block;
		overflow: auto;
	}
}


/* ------------- *
 * ANNOUNCEMENTS *
 * ------------- */
table.announcements td.title {
	width: 100%;
}
table.announcements td.title h4 {
	font-size: 1.5em !important;
}
table.announcements tr.details td.more {
	font-size: 1.5em;
	width: 30%;
}
table.announcements td {
	display: block;
	float: left;
	padding: 0;
	width: 100% !important;
}
table.announcements td.posted {
	float: left;
	width: 48% !important;
}
table.announcements td.more {
	float: right;
	padding-top: 0.3em;
	width: 48% !important;
}

//if there is a "current issue" in home (and the journal has published)
@if $no-current-home != true and $no-publication != true {
	/* compact "announcementsHome" */
	#announcementsHome {
		font-size: 0.8em;
		margin-bottom: 0;
		padding: 5px 3%;
		width: 94%;
		& h3, & h4 {
			padding-top: 0;
		}
		& p {
			margin: 0.5em;
		}
		& tr.title td.more, & tr.description td.more {
			display: none;
		}
	}
} @else { }

// boxed "announcementsHome", if there is a "current issue" in home and the "clear-style" is applied
@if $clear-style == true and ($no-current-home != true and $no-publication != true) {
	/* boxed "announcementsHome" with "clear-style" */
	#announcementsHome {
		background-color: $clear-color;
		border-radius: $button-border-rad;
	}
	@media (min-width: $break-column) { // could be optimized
		#announcementsHome {
			float: right;
			margin: 0 0 2em 5%;
			max-height: 300px;
			overflow: auto;
			padding: 9px 1%;
			width: 38%;
		}
		@if $announcements-box-top {
			/* announcementsHome box stays on top */
			#additionalHomeContent {
				float: left;
				width: 55%;
			}
			#currentHome, #additionalHomeContent ~ h3:first-of-type {
				display: block;
				overflow: auto;
				padding-top: 2em;
				width: 100%;
			}
		 } @else {
			/* seems too easy */ // #currentHome selectors are for custom javascript in home
			#announcementsHome ~ table.tocArticle, #currentHome table.tocArticle {
				width: auto;
			}
			#announcementsHome ~ table.tocArticle td, #currentHome table.tocArticle td {
				display: table-cell;
			}
			table.tocArticle ~ div.separator {
				overflow: hidden;
				width: auto;
			}
			@if $issue-cover-main == true {
				/* when Cover in home */ // #currentHome selectors are for custom javascript in home
				#announcementsHome ~ #issueCoverImage, #announcementsHome ~ #issueCoverDescription,
				#currentHome #issueCoverImage, #currentHome #issueCoverDescription {
					width: 55%;
				}
			} @else { }
		}
	}
} @else { }


/* ------- *
 * VARIOUS *
 * ------- */
// WARNING, see README
/* hide intro reserved for AlmaDL index */
body#pkp-common-openJournalSystems #journalDescription {
	display: none;
}
.small-caps {
	font-variant: small-caps;
}

// double publisher trick
@if $double-publisher == true {
	/* fix for double publisher */
	body#pkp-about-journalSponsorship #publisher p:last-child {
		display: none;
	}
} @else { }
@if $sponsor == true { } @else {
	body#pkp-about-journalSponsorship .separator {
		display: none;
	}
}

// justify texts
@if $justified-text == true {
	/* justify texts */
	body div#content p, body div#content ol, body div#content ul, #articleAbstract div {
		text-align: left;
	}
	@media (min-width: $break-touch) {
		body div#content p, body div#content ol, body div#content ul, #articleAbstract div {
			text-align: justify;
		}
	}
	#footer p, #articleCitations p {
		text-align: left !important;
	}
} @else { }

/* blockquote */
blockquote {
	font-size: 0.9em;
}

/* popup style (help + RT) */
div#top + div#sidebar {
	margin-right: 0 !important;
}
// WARNING: this is not part of the standard OJS installations
body[id^="pkp-rt"] #top+#main, body[id^="pkp-bio"] #top+#main {
	margin: 0 2%;
	width: 96%
}
// WARNING: this is not part of the standard OJS installations
body[id^="pkp-rt"] #headerTitle, body[id^="pkp-bio"] #headerTitle {
	padding: 1em 0;
}
#profilePicContent {
	margin: 0 0 1em 1em;
}
#helpToc span.blockTitle {
	color: $a-color;
}

/* link index */
a[href*="searchInitial"], a[href*="issuesPage"], a[href*="searchPage"] {
	line-height: 2em;
	padding: 0 1em;
	text-align: center;
}
#pkp-search-authorIndex #content a {
	line-height: 2em;
}
@media (min-width: $break-touch) {
	a[href*="searchInitial"], a[href*="issuesPage"] {
		line-height: 1em;
		padding: 0;
		text-align: left;
	}
	#pkp-search-authorIndex #content a {
		line-height: 1em;
	}
}

/* home */
#additionalHomeContent a {
		line-height: 2em;
}
@media (min-width: $break-touch) {
	#additionalHomeContent a {
		line-height: 1em;
	}
}
#additionalHomeContent {
	padding-bottom: 2em;
}
#additionalHomeContent + br {
	clear: both;
}

// if Home Image: see README
@if $home-image == true {
	/* home with image */
	.homeImage {
		float: none;
		height: auto;
		max-width: 100%;
		padding: 0 25px 5px 25px;
	}
	@media (min-width: $break-small) {
		.homeImage {
			float: left;
			max-width: 50%;
			padding: 0 5px 5px 0;
		}
	}
	@media (min-width: $break-medium) {
		.homeImage {
			padding: 0 1.5em 1.5em 0;
		}
	}
	.homeImage img {
		height: auto;
		width: 100%;
	}
	.homeImage p {
		font-size: 0.9em;
		font-style: italic;
		margin-top: 0;
	}
} @else { }

/* small-screen spacing */
#journalDescription + br, #content #topBar {
	display: none;
}
@media (min-width: $break-medium) {
	#journalDescription + br {
		display: inline;
	}
	#content #topBar {
		display: block;
	}
}

// issue cover
@if $issue-cover-main == true {
	/* issueCoverImage (id = main; class = thumb) */
	#issueCoverImage img {
		/* body color */
		border: 1px solid $font-color;
		height: auto;
		/* defined per journal */
		max-width: $issue-cover-size;
		width: 99%;
	}
	#issueCoverDescription {
		font-size: 0.9em;
		/* defined per journal */
		max-width: $issue-cover-size;
		width: 99%;
	}
} @else { }
@if $issue-cover-archive == true {
	.issueCoverImage img {
		/* body color */
		border: 1px solid $font-color;
	}
	.issueCoverDescription {
		font-size: 0.7em;
	}
	/* fix title alignment in Archive when Cover */
	#pkp-archive-archives #issues h4 {
		margin-left: 115px;
	}
} @else { }

/* galley page */
#pdfCanvasContainer iframe {
	min-height: 700px !important;
}

/* pluginMissing fix */
#pluginMissing {
	max-height: 95%;
	overflow: scroll;
}

/* issue DOI (custom) */
// WARNING: this is not part of the standard OJS installations
.doi-issue {
	font-size: 0.8em;
	float: right;
}

/* show identifyType */
// WARNING: this is not part of the standard OJS installations
div.identifyType {
	display: block;
}

/* legible "Search result" and "Metadata" tables (with some awful solutions) */
table.listing tr.heading td, table.listing td.heading, table.info td.heading {
	@if $table-head != null {
		background-color: $table-head;
		color: $body-color;
	} @else if ($header-font-color != null) and ($header-font-color != $a-color) {
		background-color: $header-color;
		color: $header-font-color;
	} @else if $header-color == $body-color {
		background-color: $a-color;
		color: $body-color;
	} @else {
		background-color: $header-color;
		color: $a-color;
	}
	/* space between head and first result */
	border-bottom: 5px solid #fff;
	font-weight: bold;
	text-align: center;
}
table.listing tr.heading a, table.listing tr.heading a:link, table.listing tr.heading a:visited {
	@if $header-font-color != null {
		color: $header-font-color;
	} @else if $header-color == $body-color {
		color: $body-color;
	} @else {
		color: $a-color;
	}
	/* link distinction */
	text-decoration: underline;
}
#pkp-navigation-search #results table.listing td[colspan="3"] {
	/* important to bypass inline style */
	padding-left: 43% !important;
}
#pkp-search-titleIndex #results table.listing td[colspan="3"] {
	/* important to bypass inline style */
	padding-left: 28% !important;
}
#pkp-navigation-search #results table.listing td.nodata, #pkp-search-titleIndex #results table.listing td.nodata {
	/* important to bypass the style above */
	padding-left: 0 !important;
}
table.listing td.separator, table.info td.separator {
	border-top: 0;
}
table.listing td.headseparator, table.info td.headseparator {
	border-top: 0;
}
table.listing td.endseparator, table.info td.endseparator {
	border-top: 1px solid #000;
}
/* align links to abstracts and galleys */
#results table.listing td[align=right] a {
	clear: right;
	float: right;
	margin-bottom: 9px;
}
@media (min-width: $break-touch) {
	#results table.listing td[align=right] a {
		margin-bottom: 0;
	}
}
#results table.listing tr:last-child td[colspan="2"] a {
	clear: none;
	float: none;
	margin-bottom: 0;
}
/* (probably broken) odd and even results separated */
#results table.listing tr:nth-child(6n+7), #results table.listing tr:nth-child(6n+8),
#pkp-rt-viewMetadata table.listing tr:nth-child(4n+6) {
	background-color: $clear-color;
	color: #000;
}
#results table.listing tr[valign="top"] td {
	padding-top: 10px;
}
#results table.listing tr:last-child, #pkp-rt-viewMetadata table.listing tr:last-child {
	background-color: $body-color;
	color: $font-color;
}
#pkp-rt-viewMetadata table.listing {
	display: block;
	overflow: auto;
}

/* backend improvements */
#journalLayout table {
	font-size: 0.7em;
}
ul.steplist {
	margin-bottom: 1em;
}
#submissions table.listing, #reviewers table.listing {
	display: block;
	overflow-x: scroll;
	overflow-y: hidden;
}

@include customizations;
